html {
	min-height: 100%;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	
}

footer {
	margin-top: auto;
	margin-bottom: 1em;
}

#keys-pie-graph, #categories-pie-graph, #score-graph {
	height: 400px;
}

.table-chal td {
	width: 14%;
	padding: 1px;
}

.no-chal div {
	height: 60px;
}

.modal-dialog {
	max-width: 800px;
}	
