<form>
  <div class="form-group">
    <label>Challenge Window Size</label>
    <select class="form-control custom-select" name="challenge_window_size">
        <option value="sm">Small</option>
        <option value="norm">Normal</option>
        <option value="lg">Large</option>
        <option value="xl">Extra Large</option>
    </select>
    <label>Year of calendar</label>
    <input type="text" class="form-control" name="yearOfCalendar" value="2022"></input>
    <label>Month of calendar</label>
    <input type="text" class="form-control" name="monthOfCalendar" value="12"></input>
    <label>Last day of the month</label>
    <input type="text" class="form-control" name="lastDayOfCalendar" value="24"></input>
    <label>Enable challenges on week-end</label>
    <select type="checkbox" class="form-control custom-select" name="challOnWE">
	<option value="true">Yes</option>
	<option value="false" default>No</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary float-right">Update</button>
</form>
